.markdown-preview {
  margin-bottom: 40px;
  margin-top: 40px !important;
}

/* General styles for p, ol, and ul elements */
p,
ol,
ul {
  border-left: 3px solid #ddd;
  padding: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Style for collapsible icon, hidden until improved */
.collapsible-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  display:none;
}

/* Style for hidden class to manage preview text */
.hidden {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  white-space: nowrap;
  background:#f0f0f0;
}

/* Style for preview text */
.preview-text {
  display: inline-block;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 100px);
  vertical-align: middle;
}

/* Style for button container */
.button-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
  min-height: 40px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


/* Style for settings popup */
#settings-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  z-index: 999;
}

#settings-popup label {
  display: block;
  margin-bottom: 10px;
}

#settings-popup select,
#settings-popup input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Style for speak and copy buttons */
.speak-btn,
.copy-btn {
  background: none;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.speak-btn:hover,
.copy-btn:hover {
  background-color: #f0f0f0;
}

/* Styles for percentage display and control panel */
#percentage-display,
#control-panel {
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#control-panel {
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#control-panel button {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 22px;
  background: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

#control-panel button:hover {
  background-color: #f0f0f0;
}

/* Responsive styles for smaller devices */
@media (max-width: 600px) {
  #control-panel {
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  #control-panel button {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  p,
  ol,
  ul {
    padding: 8px;
  }

  /* Hidden until improved */
  .collapsible-icon {
    font-size: 14px;
    left: 8px;
    display:none;
  }

  .preview-text {
    padding-left: 15px;
    max-width: calc(100% - 90px);
  }

  .speak-btn,
  .copy-btn {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .button-container {
    right: 5px;
    gap: 3px;
    min-height: 40px;
    min-width: 60px;
    transform: translateY(-50%);
  }
}

/* Style for headings */
h3 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
}

h4 {
  font-weight: 300 !important;
  font-size: 1.00em;
  padding-bottom: 5px;
}
